body
{
background-color:#FFD700;
background-image: url("wood.jpg");  
}

p
{
font-family: trebuchet ms, verdana, sans-serif;
margin-left: 2px;
padding-left: 2px;
}

#sidebar
{
background-color: #fff;
opacity: 0.85;
color: #daa520;
margin-right: 5px;
margin-top: 5px;
margin-bottom: 5px;
width: 21%;
margin-left: 2%;
border: 2px 2px 2px 2px;
padding: 4px 4px 4px 4px;
border-radius: 15px;
border-color: #daa520;
border-style: solid;
float:left;
position:fixed;
text-align:center;
}

h2
{
font-size: 40px;
color:#daa520;  
}

#body
{
background-color: #fff;
opacity: 0.85;
color: #daa520;
font-family: trebuchet ms, verdana, sans-serif;
font-size:20px;
margin: 5px 10px 5px 10px;
margin-right:2%;
width: 71%;
padding: 2px 6px 2px 6px;
border: 2px 2px 2px 2px;
border-radius: 15px;
border-color: #daa520;
border-style:solid;
float: right;
}

h1
{
font-size: 45px;
color: #8B4513;
font-family: georgia, garamond, sans-serif;
padding-left: 10px;
}

.label
{
color:#ffd700;
background-color:#8B4513;
margin: 2px 3px 2px 3px;
padding: 2px 3px 2px 3px;
width: 30%;
}

.update
{
color:#daa520;
font-weight:bold;
font-family: times new roman, georgia, sans-serif;
}

.note
{
background-color:#000;
color:#F00;
margin: 2px 3px 2px 3px;
padding: 2px 3px 2px 3px;
margin-right:5%;
}
